<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <style>
            /*w3css*/
            body {
                background-color: #073642;
                color: #eee8d5;
            }
            .background-base01 {
                background-color: #586e75;
            }
        </style>
    </head>
    <body>
        <div class="w3-panel">
            /*content*/
        </div>
    </body>
</html>